<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <ul>
        <li>
            {{ form_errors(form) }}
        </li>
        <li class="error" >
               {{ form_errors(form.username) }}
        </li>
        <li>
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
        </li>
        <li class="error" >
               {{ form_errors(form.email) }}
        <li>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
        </li>
        <li>
                {{ form_widget(form.plainPassword) }}
        </li>
        <li>
              <label></label>
              <input type="submit" id='_submit' name='_submit' value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </li>
        {{ form_rest(form) }}
    </ul>
</form>
