{% extends "DevBieresTaskWebHtmlBundle::layout.html.twig" %}

{% block content_title %}
   <div class="content_title_action" >
        <a href="{{ path('web_home') }}" >
            {{ 'site.back'|trans }}
            <img src="{{ asset('bundles/devbierestaskwebhtml/images/back.png') }}" alt="{{ 'site.back'|trans }}" />
        </a>
   </div>
   {{ 'site.edit'|trans }}
{% endblock %}

{% block content %}
   <div id="newtask" class="formulaire"  >

     {% include 'DevBieresTaskWebHtmlBundle:Tache:form.html.twig' with { 'form' : form, 'path': path('web_tache_update', {'tache':obj.id }) } %}

   </div>
{% endblock %}
