<ul>
   {% for key,col in arr %}
      <li class="item_titre"> 
          {% include 'DevBieresTaskWebHtmlBundle:Priorite:img.html.twig' with { 'code' : key } %}
          {{ key|trans|upper }}
      </li>
      {% for obj in col %}
           <li class="item" > 
                <div class="item_action" >
                    <a href="{{ path('web_tache_edit',  {'tache' : obj.id }) }}" title="{{ 'site.edit'|trans  }}"  >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/edit.png')  }}" alt="{{ 'site.edit'|trans }}" />
                    </a>
                    <a href="{{ path('web_tache_done',  {'tache' : obj.id }) }}" title="{{ 'site.task.done'|trans  }}"  >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/done.png')  }}" alt="{{ 'site.task.done'|trans }}" />
                    </a>
                    <a href="{{ path('web_tache_done_continue',  {'tache' : obj.id }) }}" title="{{ 'site.task.done_continue'|trans  }}"  >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/done_continue.png')  }}" alt="{{ 'site.task.done_continue'|trans }}" />
                    </a>
                    <a href="{{ path('web_tache_cancel',  {'tache' : obj.id }) }}" title="{{ 'site.task.cancel'|trans  }}"  >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/cancel.png')  }}" alt="{{ 'site.task.cancel'|trans }}" />
                    </a>
                </div>
                 {{ obj.libelle }} 
           </li>
      {% endfor %}
   {% else %}
     <li> {{ 'site.task.nothingtodo'|trans }} </li>
   {% endfor %}
</ul>
