{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  <div id="connexion" class="formulaire_connexion" >
      <h2> 
              {{ 'site.title'|trans }} 
      </h2>
      <div class="formulaire_connexion_content" >
           {% if error %}
              <div class="error"> {{ error|trans({}, 'FOSUserBundle') }} </div>
           {% endif %}
           {% include "DevBieresTaskUserBundle:Security:form.login.html.twig" %}
      </div>
      <div class="formulaire_connexion_demo" >
         <h2> Demo </h2>
         <ul>
           <li> <strong> Web </strong> : demoweb / demoweb </li>
           <li> <strong> Mobile </strong> : demomobile / demomobile </li>
         </ul>
      </div>
      <div class="formulaire_connexion_footer" >
           <a href="{{ path('fos_user_registration_register') }} " id="creercompte" >
                    <img src="{{ asset('bundles/devbierestaskuser/images/addaccount.png') }}" 
                                  alt="{{ 'user.title_register'|trans }}"
                    />
                   {{ 'user.title_register'|trans }}
           </a>
      </div>
  </div>

{% endblock fos_user_content %}

