{% extends "DevBieresTaskWebHtmlBundle::layout.html.twig" %}

{% block content_title %}
   <div class="content_title_action" >
        <a href="{{ path('web_projet_index') }}" >
            {{ 'site.back'|trans }}
            <img src="{{ asset('bundles/devbierestaskwebhtml/images/back.png') }}" alt="{{ 'site.back'|trans }}" />
        </a>
   </div>
   {{ 'site.project.new'|trans }}
{% endblock %}

{% block content %}
   <div id="newproject" class="formulaire"  >

     <form action="{{ path('web_projet_create') }}" method="post" {{ form_enctype(form) }}>
       <ul>
         <li class="error" >
             {{ form_errors(form) }}
         </li>
         <li class="error" >
             {{ form_errors(form.libelle) }}
         </li>
         <li>
              {{ form_label(form.libelle) }}
              {{ form_widget(form.libelle) }}
         </li>
         <li class="error" >
             {{ form_errors(form.raccourci) }}
         </li>
         <li>
              {{ form_label(form.raccourci) }}
              {{ form_widget(form.raccourci) }}
         </li>
         <li>
              <label></label>
              <input type="submit" value="{{ 'site.valid'|trans }}" id="submit" />
         </li>

         {{ form_rest(form) }}
        </ul>
      </form>

   </div>
{% endblock %}
