       <header data-role="header" >
         <h2 id="page_title" > {{ title|trans }} </h2>
        </header>
       {% if hidenav is not defined %}
          <nav data-role="navbar" >
            <ul>
             {% if home is defined %}
              <li> <a href="{{ path('mobile_home') }}" id="nav_home" title="{{ 'site.home'|trans}} " data-ajax="false" > 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/home.png') }}" /> 
                        <span class="nav_title" >{{ 'site.home'|trans}} </span>
              </a> </li>
             {% endif %}
              <li> <a href="{{ path('mobile_tache_new') }}" id="nav_newtask" title="{{ 'site.nav.taskadd'|trans}} " data-ajax="false" > 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/addtask.png') }}" /> 
                        <span class="nav_title" >{{ 'site.nav.taskadd'|trans}} </span>
              </a> </li>
              {% if app.session.get('isMobile') != '1' %}
              <li> <a href="{{ path('mobile_tache_somenew') }}" id="nav_somenewtask" title="{{ 'site.nav.taskaddsome'|trans}} " data-ajax="false" > 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/addtask.png') }}" /> 
                        <span class="nav_title" >{{ 'site.nav.taskaddsome'|trans}} </span>
              </a> </li>
              {% endif %}
              <li>{% render "DevBieresTaskWebHtmlBundle:Trash:navMenu" with { route: 'mobile_trash', att:"data-ajax=false" }  %} </li>
              <li> <a href="{{ path('mobile_projet_index') }}" id="nav_projet" title="{{ 'site.nav.projets'|trans}}" data-ajax="false"> 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/projects.png')}}" /> 
                        <span class="nav_title">{{ 'site.nav.projets'|trans}} </span>
              </a> </li>
              <li> <a href="{{ path('fos_user_security_logout') }}" title="{{ 'user.logout'|trans}} " data-ajax="false" > 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/logout.png')}}" /> 
                        <span class="nav_title" >{{ 'user.logout'|trans}} </span>
                   </a></li>
            </ul> 
         </nav>
      {% endif %}

