       <header data-role="header" data-add-back-btn="{{ back }}"
              data-back-btn-text="{{ 'site.back'|trans }}"
              >
         <h2 id="page_title" > {{ title|trans }} </h2>
        </header>
       <nav data-role="navbar" >
            <ul>
              <li> <a href="{{ path('mobile_tache_new') }}" id="nav_newtask" title="{{ 'site.nav.taskadd'|trans}} " > 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/addtask.png') }}" /> 
                        <span class="nav_title" >{{ 'site.nav.taskadd'|trans}} </span>
              </a> </li>
              <li>{% render "DevBieresTaskWebHtmlBundle:Trash:navMenu" with { route: 'mobile_trash' }  %} </li>
              <li> <a href="{{ path('mobile_projet_index') }}" id="nav_projet" title="{{ 'site.nav.projets'|trans}}"> 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/projects.png')}}" /> 
                        <span class="nav_title">{{ 'site.nav.projets'|trans}} </span>
              </a> </li>
              <li> <a href="{{ path('fos_user_security_logout') }}" title="{{ 'user.logout'|trans}} " > 
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/logout.png')}}" /> 
                        <span class="nav_title" >{{ 'user.logout'|trans}} </span>
                   </a></li>
            </ul> 
       </nav>

