<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <title>{% block title %} {{ 'site.title'|trans }} {% endblock %} </title>
       <link href="{{ asset('bundles/devbierescommonjquerymobile/css/jquery.mobile-1.2.0-beta.1.css') }}" type="text/css" rel="stylesheet" />
       <link href="{{ asset('bundles/devbierestaskmobile/css/task.css') }}" type="text/css" rel="stylesheet" />
       {% block stylesheets %}
       {% endblock %}
       <script src="{{ asset('bundles/devbierescommonjquerymobile/js/jquery-1.8.1.min.js') }}" type="text/javascript" ></script>
       <script src="{{ asset('bundles/devbierescommonjquerymobile/js/jquery.mobile-1.2.0-beta.1.min.js') }}" type="text/javascript" ></script>
       <script src="{{ asset('bundles/devbierestaskmobile/js/mobile.task.js') }}" type="text/javascript" ></script>
       {% block js %}
       {% endblock %}
       <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

    {% block page %}
    {% endblock %}

    </body>
</html>

