{% extends "DevBieresTaskWebHtmlBundle::layout.html.twig" %}

{% block content_title %}
   <div class="content_title_action" >
        <a href="{{ path('web_trash') }}" >
            {{ 'site.back'|trans }}
            <img src="{{ asset('bundles/devbierestaskwebhtml/images/back.png') }}" alt="{{ 'site.back'|trans }}" />
        </a>
   </div>
   {{ 'site.empty_all'|trans }} ?
{% endblock %}

{% block content %}
   <div id="emptyall" class="formulaire"  >

     <form action="{{ path('web_trash_emptyallconfirmed') }}" method="post" >
       <ul>
         <li>
             {{ 'site.confirm'|trans }}
         </li>
         <li>
              <label></label>
              <input type="submit" value="{{ 'site.valid'|trans }}" id="submit" />
         </li>

        </ul>
      </form>

   </div>
{% endblock %}
