<a href="{{ path(route) }}" id="nav_trash"  title="{{ 'site.nav.trash'|trans}}"
       {{ att }} 
    >
    {% if nombre <= 0 %}
      <img src="{{ asset('bundles/devbierestaskwebhtml/images/trash.png')}}" /> 
    {% else %}
      <img src="{{ asset('bundles/devbierestaskwebhtml/images/trash_full.png')}}" /> 
    {% endif %}
    <span class="nav_title" > {{ 'site.nav.trash'|trans}}</span> ({{ nombre }}) 
</a> 
