{% extends "DevBieresTaskMobileBundle::layout.html.twig" %}

{% block page %}
   <div id="yourproject" class="liste" data-role="page"  >
       <header data-role="header" >
         <a href="{{ path('mobile_home') }}" 
                  title="{{ 'site.home'|trans }}" 
                  data-icon="home" data-ajax="false"  >
                  {{ 'site.home'|trans }}
         </a>
         <h2 id="page_title" > {{ 'site.project.yourproject'|trans }} </h2>
         <a href="{{ path("mobile_projet_new") }}" title="{{ 'site.new'|trans }}" i
                     data-theme="d" data-icon="new" class="ui-btn-right" data-rel="dialog"  > 
                         {{ 'site.new'|trans}} 
         </a>
       </header>

       <div data-role="content" >
            <ul data-role="listview" data-theme="d" data-divider-theme="d" 
                  data-filter="true" data-filter-placeholder="{{ 'site.filter'|trans }}" 
                  data-split-icon="delete"
                  >
                {% for obj in col %}
                   <li> 
                      <a>  {{ obj.libelle }} </a>
                      <a href="{{ path('mobile_projet_destroy',{'projet': obj.id}) }}" data-rel="dialog"  > {{ 'site.projet.destroy'|trans }} </a>
                   </li>
                {% else %}
                   <li class="nothing" > {{ 'site.project.nothingtodo'|trans }} </li>
                {% endfor %}
            </ul>
       </div>
       {%  
            include "DevBieresTaskMobileBundle::footer.html.twig" 
       %}
   </div>

{% endblock %}
