{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="register" class="formulaire_connexion" >
      <h2> 
              {{ 'site.title'|trans }} 
      </h2>
      <h3> {{ 'user.title_register'|trans }}  </h3>
      <div class="formulaire_connexion_content" >
           {% include "FOSUserBundle:Registration:register_content.html.twig" %}
      </div>
       <div class="formulaire_connexion_footer" >
           <a href="{{ path('fos_user_security_login') }} " >
                    <img src="{{ asset('bundles/devbierestaskuser/images/back.png') }}" 
                                  alt="{{ 'user.title_register'|trans }}"
                    />
                   {{ 'user.back'|trans }}
           </a>
      </div>
     
    </div>
{% endblock fos_user_content %}
