<ul>
   {% for obj in col %}
     <li class="item" > 
           <div class="item_action" >
                <a href="{{ path('web_projet_destroy',  {'projet' : obj.id }) }}" title="{{ 'site.destroy'|trans  }}"  >
                      <img src="{{ asset('bundles/devbierestaskwebhtml/images/destroy.png')  }}" alt="{{ 'site.destroy'|trans }}" />
                </a>
           </div>
           {{ obj.libelle }} 
     </li>
   {% else %}
     <li class="nothing" > {{ 'site.project.nothingtodo'|trans }} </li>
   {% endfor %}
</ul>
