      <div data-role="content" >
      <form action="{{ path }}" method="post" {{ form_enctype(form) }} data-ajax="false" >
         <div data-role="fieldcontain" >
         <div class="error" >
             {{ form_errors(form) }}
         </div>
         <div class="error" >
             {{ form_errors(form.libelle) }}
         </div>
         <div>
              {{ form_label(form.libelle) }}
              {{ form_widget(form.libelle) }}
         </div>
         <div class="error" >
             {{ form_errors(form.priorite) }}
         </div>
         <div>
              {{ form_label(form.priorite) }}
              {{ form_widget(form.priorite) }}
         </div>
         <div class="error" >
             {{ form_errors(form.projet) }}
         </div>
         <div>
              {{ form_label(form.projet) }}
              {{ form_widget(form.projet) }}
         </div>
         </div>
         <div>
              <label></label>
              <input type="submit" value="{{ 'site.valid'|trans }}" id="submit" data-theme="a" />
         </div>
         <div>
              <label></label>
              <a href="{{ path('mobile_tache_show', { 'id': obj.id }) }}" 
                             data-role="button" data-rel="back" data-theme="c">
                         {{ 'site.cancel'|trans }}
              </a>
         </div>

         {{ form_rest(form) }}
      </form>
      </div> <!-- content -->
