<ul data-role="listview" data-theme="d" data-divider-theme="d">
   {% for key,col in arr %}
      <li class="item_titre" data-role="list-divider"  > 
          {% include 'DevBieresTaskWebHtmlBundle:Priorite:img.html.twig' with { 'code' : key } %}
          {{ key|trans|upper }}
      </li>
      {% for obj in col %}
           <li class="item {{ obj.getEtatLibelle() }}" 
                       data-icon="arrow-r" data-iconpos="right" > 
                <a href="{{ path('mobile_tache_show', { 'id' : obj.id }) }}" 
                          data-rel="dialog" data-transition="slidedown"  >
                <span class="tache_projet"> [ {{ obj.projet.libelle }}] </span> {{ obj.libelle }} 
                </a>
           </li>
      {% endfor %}
   {% else %}
     <li> {{ 'site.task.nothingtodo'|trans }} </li>
   {% endfor %}
</ul>
