   <div data-role="page" >
        {%  
             include "DevBieresTaskMobileBundle::header.html.twig" 
             with {
                     'title' : 'site.task.yourtasks',
                     'back'  : 'false'
                  }
         %}
         <div data-role="content" >
             <div data-role="collapsible-set" >
                 {% for key,col in arr %}
                   {% if col|length > 0 %}
                     <div data-role="collapsible"  >
                        <h3>
                          <img src="{{ asset('bundles/devbierestaskwebhtml/images/' ~ key ~ '.png') }}" alt="{{ key | trans }}" />
                         {{ key|trans|upper }} ({{ col|length}})
                        </h3>
                        <ul data-role="listview" data-theme="d" data-divider-theme="d" >
                        {% for obj in col %}
                           <li class="item {{ obj.getEtatLibelle() }}" 
                              data-icon="arrow-r" data-iconpos="right" > 
                               <a href="{{ path('mobile_tache_show', { 'id' : obj.id }) }}" 
                                   data-transition="slide"  >
                                   <span class="tache_projet"> [ {{ obj.projet.libelle }}] </span> {{ obj.libelle }}
                               </a>
                           </li>
                        {% endfor %}
                        </ul>
                     </div> <!-- fin de la liste des taches -->
                   {% endif %}
                 {% endfor %}
             </div> <!-- Fin du regrouepemement en accordeon -->
         </div><!-- Fin de date.a role content -->
        {%  
             include "DevBieresTaskMobileBundle::footer.html.twig" 
             with {
                     'menu'  : 'true'
                  }
        %}
    </div>
