{% extends "DevBieresTaskMobileBundle::layout.html.twig" %}

{% block page %}
   <div data-role="page" id="{{ obj.id }}" >
        <header data-role="header" >
               <a href="{{ path('mobile_home') }}" 
                   title="{{ 'site.home'|trans }}" 
                   data-icon="home" data-ajax="false" >
                   {{ 'site.home'|trans }}
               </a>
               <h2> {{  'site.title'|trans }} </h2>
        </header>
         <h3> {{ obj.libelle }} </h3>
         <ul data-role="listview" data-theme="d" data-divider-theme="d" >
           {% if obj.isPlanif %}
           <li>
                      <label> {{ 'site.task.planif'|trans }} : </label>
                      <span class="task_info" > {{ obj.planif|date("d/m/Y") }} </span>
           </li>
           {% endif %}
           <li>
                      <label> {{ 'site.task.project'|trans }} : </label>
                      <span class="task_info" > {{ obj.projet.libelle }} </span>
           </li>
           <li>
                      <label> {{ 'site.task.priority'|trans }} : </label>
                      <span class="task_info" > {{ obj.priorite.libelle }} </span> 
           </li>
           <li> 
                      <label> {{ 'site.task.created'|trans }} : </label>
                      <span class="task_info" > {{ obj.createdat|date("d/m/Y") }} </span>
           </li>
         </ul>

         <nav data-role="navbar" >
         <ul>
           {% if obj.estAFaire() %}
             <li>
                    <a href="{{ path('mobile_tache_edit',  {'tache' : obj.id }) }}" title="{{ 'site.edit'|trans  }}"  data-ajax="false" >
                      <img src="{{ asset('bundles/devbierestaskwebhtml/images/edit.png')  }}" alt="{{ 'site.edit'|trans }}" />
                      <span class="action_title" > {{ 'site.edit'|trans  }} </span>
                    </a>
             </li>
             <li>
                    <a href="{{ path('mobile_tache_done',  {'tache' : obj.id }) }}" title="{{ 'site.task.done'|trans  }}"  data-ajax="false" >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/done.png')  }}" alt="{{ 'site.task.done'|trans }}" />
                        <span class="action_title" > {{ 'site.task.done'|trans  }} </span>
                    </a>
             </li>
             <li>
                    <a href="{{ path('mobile_tache_done_continue',  {'tache' : obj.id }) }}" title="{{ 'site.task.done_continue'|trans  }}" data-ajax="false" >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/done_continue.png')  }}" alt="{{ 'site.task.done_continue'|trans }}" />
                        <span class="action_title" > {{ 'site.task.done_continue'|trans  }} </span>
                    </a>
             </li>
             <li>
                    <a href="{{ path('mobile_tache_cancel',  {'tache' : obj.id }) }}" title="{{ 'site.task.cancel'|trans  }}"  data-ajax="false" >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/cancel.png')  }}" alt="{{ 'site.task.cancel'|trans }}" />
                        <span class="action_title" > {{ 'site.task.cancel'|trans  }} </span>
                    </a>
             </li>
             {% else %}
             <li>
                    <a href="{{ path('mobile_tache_reactive',  {'tache' : obj.id }) }}" title="{{ 'site.task.reactive'|trans  }}"  data-ajax="false" >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/reactive.png')  }}" alt="{{ 'site.task.cancel'|trans }}" />
                        <span class="action_title" > {{ 'site.task.reactive'|trans  }} </span>
                    </a>
             </li>
             <li>
                    <a href="{{ path('mobile_tache_destroy',  {'tache' : obj.id }) }}" title="{{ 'site.destroy'|trans  }}"  data-ajax="false" >
                        <img src="{{ asset('bundles/devbierestaskwebhtml/images/destroy.png')  }}" alt="{{ 'site.task.cancel'|trans }}" />
                        <span class="action_title" > {{ 'site.destroy'|trans  }} </span>
                    </a>
             </li>
             {%endif%}
           </ul>
           </nav>
   </div>
{% endblock %}
